
.main_account{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_account_data{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
}

.main_account_but{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main_account_info{
    display: flex;
    padding: 5px;
    font-size: 16px;
    background-color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
}