<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/account.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/account.js"></script>
    <script src="/script.js"></script>
    <title>Account</title>
</head>
<body>
    <header>
        <a href="index.html" class="header_logo">ТРИП</a>
        <nav>
            <a href="index.html">Главная</a>
            <a href="basket.html">Корзина</a>
        </nav>
        <div class="header_phone">
            +7 (812) 909 20 20
        </div>
    </header>
    <div class="main_link">
        &lt;- <a href="index.html">Вернуться на главную</a>
    </div>
    <main class="main_account">
        <div class="main_account_data">
            <div class="main_account_but">
                <button id="butHistory">Посмотреть историю заказов</button>
                <button id="butExist">Выйти</button>
            </div>
            <div id="main_account_name" class="main_account_info">
            </div>
            <div id="main_account_sex" class="main_account_info">
            </div>
            <div id="main_account_date" class="main_account_info">
            </div>
            <div id="main_account_day" class="main_account_info">
            </div>
            <div id="main_account_distance" class="main_account_info">
            </div>
            <div id="main_account_email" class="main_account_info">
            </div>
            <div id="main_account_phone" class="main_account_info">
            </div>
            <div id="main_account_bonus" class="main_account_info">
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_text">
            © 2024 Mirskow
        </div>
    </footer>
</body>
</html>