<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/index.js"></script>
</head>
<body>
    <header>
        <a href="index.html" class="header_logo">ТРИП</a>
        <nav>
            <a href="index.html">Главная</a>
            <a href="basket.html">Корзина</a>
        </nav>
        <div class="header_phone">
            +7 (812) 909 20 20
        </div>
    </header>
    <main>
        <div class="main_main">
            <div class="main_description">
                <div class="main_description_phrase">
                    Добро пожаловать!
                </div>
                <div class="main_description_choice">
                    <div id="account" class="main_description_choice_block">
                        <div>
                            Личный<br>кабинет
                        </div>
                    </div>
                    <div id="catalog" class="main_description_choice_block">
                        <div>
                            Каталог
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_img">
                <!-- <img src="/train.png" alt="train"> -->
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_text">
            © 2024 Mirskow
        </div>
    </footer>
</body>
</html>