<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/orderinfo.css">
    <link rel="stylesheet" href="/trip.css">
    <script src="/orderinfo.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <a href="index.html" class="header_logo">ТРИП</a>
        <nav>
            <a href="index.html">Главная</a>
            <a href="basket.html">Корзина</a>
        </nav>
        <div class="header_phone">
            +7 (812) 909 20 20
        </div>
    </header>
    <main>
        <div class="main_link">
            &lt;- <a href="history.html">Вернуться к истории</a>
        </div>
        <div class="main_product">
            <div id="orders" class="main_product_order">

            </div>
            <div class="main_product_title">
                <div id="id_route" class="main_product_title_trip">
                    
                </div>
                <div id="id_train" class="main_product_title_train">
                    
                </div>
            </div>
            <div id="product" class="main_product_info">

            </div>
            <div id="ticket" class="ticket">

            </div>
        </div>
    </main>
    <footer>
        <div class="footer_text">
            © 2024 Mirskow
        </div>
    </footer>
</body>
</html>