<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/order.css">
    <script src="/order.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <a href="index.html" class="header_logo">ТРИП</a>
        <nav>
            <a href="index.html">Главная</a>
            <a href="basket.html">Корзина</a>
        </nav>
        <div class="header_phone">
            +7 (812) 909 20 20
        </div>
    </header>
    <main>
        <div class="main_orders">
            <div class="main_orders_title">
                Персональные данные:
            </div>
            <div class="main_orders_personal">
                <div id="main_orders_personal_name" class="personal_block"></div>
                <div id="main_orders_personal_serdoc" class="personal_block"></div>
                <div id="main_orders_personal_numdoc" class="personal_block"></div>
                <div id="main_orders_personal_email" class="personal_block"></div>
            </div>
            <div class="main_orders_order">
                <div class="main_orders_title">
                    Данные заказа:
                </div>
                <table>
                    <thead>
                        <tr>
                            <th> Рейс </th>
                            <th> Откуда </th>
                            <th> Куда </th>
                            <th> Поезд </th>
                            <th> Вагон </th>
                            <th> Место </th>
                        </tr>
                    </thead>
                    <tbody>
    
                    </tbody>
                </table>
                <div id="totCost" class="main_orders_title"></div>
            </div>
            <button id="buy" class="main_orders_button">Оформить</button>
        </div>
    </main>
    <footer>
        <div class="footer_text">
            © 2024 Mirskow
        </div>
    </footer>
</body>
</html>