<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/trip.css">
    <script src="/trip.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <a href="index.html" class="header_logo">ТРИП</a>
        <nav>
            <a href="index.html">Главная</a>
            <a href="basket.html">Корзина</a>
        </nav>
        <div class="header_phone">
            +7 (812) 909 20 20
        </div>
    </header>
    <main>
        <div class="main_link">
            &lt;- <a href="catalog.html">Вернуться к каталогу</a>
        </div>
        <div class="main_product">
            <div class="main_product_title">
                <div id="id_route" class="main_product_title_trip">
                    
                </div>
                <div id="id_train" class="main_product_title_train">
                    
                </div>
            </div>
            <div id="product" class="main_product_info">

            </div>
            <div class="main_product_params">
                Настройте параметры поездки:
            </div>
            <div class="main_product_cars">
                <div class="main_product_cars_choice">
                    <div class="main_product_cars_choice_title">
                        Тип вагона:
                    </div>
                    <div class="main_product_cars_choice_type">
                        <input type="checkbox" name="" id="" value="плацкарт"> Плацкарт
                        <input type="checkbox" name="" id="" value="купе"> Купе
                    </div>
                </div>
                <div id="cars" class="main_product_cars_car">
                    
                </div>
                <div class="main_product_cars_place">
                    <div id="places" class="main_product_cars_place_places">
                        
                    </div>
                </div>
            </div>
            <button id="addToBasket" class="main_product_button">Добавить в корзину</button>
        </div>
    </main>
    <footer>
        <div class="footer_text">
            © 2024 Mirskow
        </div>
    </footer>
</body>
</html>